<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account</title>
    <%- include partials/head.ejs %>
    <script src="/socket.io/socket.io.js">
    </script>
    

  </head>
  <body>
    
    <div> Connecting as client </div>
    <%- include partials/scripts.ejs %>
    <script>
      var socket = io.connect('http://localhost:8080');
      socket.on("scrape", (data, fn) => {
        console.log("Scraping url");
        fetch('http://httpbin.org/ip')
          .then(resp=> resp.text()).then(body => console.log(body));  
      })
    </script>
  </body>
</html>
