<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account</title>
    <%- include partials/head.ejs %>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    
    <div id="message"> Connecting as client </div>
    <%- include partials/scripts.ejs %>
    <script>

      let logAndDisplay = function(msg) {
        let e = document.getElementById('message')
        e.innerHTML = e.innerHTML + "<br>" + msg
        console.log(msg)
      }

      let socket = io({transports: ['websocket']}); // Use auto-discovery

      socket.emit("client_connect", {
        powerState: {},
        totalMem: 8
      });

      socket.on("connect", () => {
        logAndDisplay("Connected");
      })

      socket.on("scrape", (data) => {
        logAndDisplay(`Scraping url ${data.url}`);

        // Send request through CORS proxy first to avoid access error
        const proxyurl = "https://cors-anywhere.herokuapp.com/";
        const url = "https://" + data.url;

        fetch(proxyurl + data.url) // https://cors-anywhere.herokuapp.com/https://example.com
        .then(response => response.text())
        .then(contents => {
          console.log("Returning result to user");
          socket.emit("return_result", {
            result: contents,
            user_id: data.user_id,
            powerState: {},
            totalMem: 8
          })
        })
        .catch(() => {
          let error = "Can’t access " + url + " response. Blocked by browser?"
          socket.emit("return_result", {
            result: error,
            user_id: data.user_id,
            powerState: {},
            totalMem: 0
          })
        })
      });
    </script>
  </body>
</html>