<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account</title>
    <%- include partials/head.ejs %>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div> Welcome! </div>
    <%- include partials/scripts.ejs %>
  </body>
</html>
